<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hoja de vida</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
   

    <div class="container center-h center-v">
    <div class="col s12 m7" style="justify-content: center;">
        
        <div class="card horizontal" style="background-color: #bdbdbd;" class="z-depth-5">
          <div class="card-image">
              
            <img src="../static/2.jpg"  height="200px">
          </div>
          <div class="card-stacked">
            <div class="card-content">
                <p style = "font-family:Times New Roman;">
                    <center><strong><h4 style="font-family: 'Times New Roman', Times, serif;">Perfil</h4></strong></center>
                    <i>Kevin Andrey Quiroga Reyes </i>
                    <br>
                    <br>
                    <p>tecnólogo en formación, con gran capacidad de creatividad, adaptabilidad y de asumir retos, trabajo en equipo y bajo presión. Me gusta ser autodidacta con gran capacidad de innovación. Mi objetivo en la vida es aportar en innovación, desarrollo y crecimiento integral del ser humano. </p>
                </p>   
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

        <div class="card horizontal" style="background-color: #bdbdbd;" class="z-depth-5">
            <div class="card-image">
             
            </div>
            <div class="card-stacked">
              <div class="card-content">
                  <p style = "font-family:Times New Roman;">
                      <center><strong><h4 style="font-family: 'Times New Roman', Times, serif;">Datos Personales</h4></strong></center>
                      <br>
                      <br>

                      <p><strong>  Nombres y Apellidos: </strong> Kevin Andrey Quiroga Reyes</p>
                      <p><strong>  Dirección: </strong> Guavatá/Santander</p>
                      <p><strong>  Móvil : </strong> 3163575919</p>
                      <p><strong>  Correo Electrónico : </strong> kquirogareyes@gmail.com </p>
                      <p><strong>  Ciudad de nacimiento  : </strong> Guavatá/Santander </p>
                      <p><strong>  Documento de indentidad Cédula de ciudadania No.  : </strong> 1005249054 </p>
                  </p>   
              </div>
             
            </div>
          </div>

          <div class="card horizontal" style="background-color: #bdbdbd;" class="z-depth-5">
            <div class="card-image">
             
            </div>
            <div class="card-stacked">
              <div class="card-content">
                  <p style = "font-family:Times New Roman;">
                      <center><strong><h4 style="font-family: 'Times New Roman', Times, serif;">Formación Académica </h4></strong></center>
                      <br>
                      <br>

                      <p><strong>  Instituto: </strong> Institución Educativa Tres Esquinas Los Patios </p>
                      <p><strong>  Universidad : </strong> Tecnologo Servicio Nacional de Aprendizaje Sena</p>
                      <br>
                      <p><strong> Formación Complementaria  : </strong> <li>Desarrollo Web </li></p>
                      <li>Desarrollo De Sistemas De Información</li>
                      <li>Cloud Computing</li>
                      <li>Computational Development</li>
                  </p>   
              </div>
             
            </div>
          </div>







      </div>
    </div>

    

</body>
</html>